body {
  background-color: black;
  color: rgb(132, 199, 84);
  font-family: "Courier New";
}
.container {
  display: grid;
  grid-template-columns: 60% 40%;
}
.side_bar {
  border: 2px solid white;
  color: white;
  border-radius: 5px;
}
.menu a {
  color: inherit;
}
.menu a:hover {
  color: white;
}
.menu4 {
  color: white;
}
.content a {
  color: white;
}
.footer {
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 15px;
}
