body {
  font-family: "Times New Roman", Times, serif;
  overflow: auto;
}
.header {
  background-color: rgb(4, 170, 109);
  background-attachment: scroll;
  background-repeat: no-repeat;
  opacity: 100%;
  border-radius: 10px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  margin: auto;
  color: white;
  text-shadow: 4px 4px 5px black;
  text-transform: capitalize;
  font-style: inherit;
  padding-left: 40px;
}
.header h1 {
  padding-top: 10px;
}
.header p {
  padding-bottom: 30px;
}
.menu a {
  cursor: inherit;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 4px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
}
.menu li {
  list-style-type: none;
  cursor: pointer;
  border: 1px solid rgb(212, 212, 212);
  width: 186px;
  background-color: rgb(241, 241, 241);
  border-radius: 20px;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 4px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
}
.menu li:hover {
  background-color: rgb(172, 223, 194);
  border-color: black;
}
.menu .menu1 {
  background-color: rgb(4, 170, 109);
}
.body {
  display: grid;
  grid-template-columns: 20% 50% 30%;
}
.content,
.menu,
.side_bar {
  display: inline-block;
}
.body a {
  color: black;
}
.side_bar {
  background-color: rgb(50, 164, 231);
  border-radius: 5px;
  margin: 10px 0px 10px 10px;
  padding: 10px 10px 10px 20px;
  color: white;
}
.footer {
  font-size: 13px;
  background-color: rgb(241, 241, 241);
  border: 1px solid rgb(129, 120, 120);
  padding: 2px 2px 2px 2px;
  border-radius: 2px;
}
